<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .size{
            width: 200px;
            height: 100px;
        }
    </style>
</head>
<body>
<h1>Create user</h1>
<p>
    <a th:href="@{/blog/list}">Back to list</a>
</p>
<p th:if="${message != null}">
    <span th:text="${message}"></span>
</p>
<fieldset>
    <legend>Fill information</legend>
    <form action="#" th:action="@{/blog/create}" method="post" novalidate="novalidate" th:object="${user}">
        <p><label>Title: </label></p>
        <input type="text" th:field="*{title}">
        <p><label>Email: </label></p>
        <input type="email" th:field="*{email}">
        <p><label>Content: </label></p>
        <textarea class="size" th:field="*{type}"></textarea>
        <p><select th:field="*{category}">
            <option th:each="p : ${category}" th:value="${p.id}" th:text="${p.name}"></option>
        </select></p>
        <p><input type="submit" value="Create"></p>
    </form>
</fieldset>
</body>
</html>