<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
</head>
<body>
<h1>Category</h1>
<p>
    <a th:href="@{/blog/list}">Back to list</a>
</p>
<p>
    <a th:href="@{/create}">Create Category</a>
</p>
<table border="1">
    <tr>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="categories : ${category}">
        <tr>
            <td><a th:href="@{/blog/view-category/__${categories.id}__}" th:text="${categories.name}"></a></td>
            <td><a th:href="@{/edit/__${categories.id}__}">Edit</a></td>
            <td><a th:href="@{/delete/__${categories.id}__}">Delete</a></td>
        </tr>
    </th:block>

</table>
</body>
</html>